.App {
  padding: 0% 0% 0% 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #004875;
}

.card-container {
  flex-direction: column;
  margin-bottom: 2%;
  display: flex;
  /*padding-left: 3%;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 95%;
  border: 2px solid #e3e3e3;
  padding: 2% 0%;
}

.card-container > div {
  width: 88%;
  padding: 0% 2%
}

.card-container > div > div{
  display: flex;
  flex-direction: column;
}

.card-container > div > li {
  padding-left: 3%;
}

.card-container > div > div > div {
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.card-container > div > h5 {
  color: #666666;
}

.card-container p {
  font-size: 20px;
  color: #2f678c;
  font-weight: bold;
}

.image-container {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 2px solid #e3e3e3;
}

.video-container {
  margin-bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  position: relative;
  padding-bottom: 36.25%;
  padding-top: 25px;
  height: 0;
  border: 2px solid #e3e3e3;
}
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.image-container img {
  max-height: 400px;
  width: 100%;
  object-fit: cover;
}

.maps-container {
  margin-bottom: 2%;
  padding: 2% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  border: 2px solid #e3e3e3;
  flex-direction: row;
}

.maps-container p {
  margin: 0;
  margin-bottom: 3%;
  font-size: 20px;
  color: #2f678c;
  font-weight: bold;
}

.maps-container > div {
  padding-left: 3%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.maps-container span {
  margin-bottom: 3%;
}

.maps-container img{
  width: 100%;
  height: 200px;
  object-fit: none;
}

.maps-container-mobile {
  margin-bottom: 2%;
  padding: 2% 0 0 0;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 95%;
  border: 2px solid #e3e3e3;
  flex-direction: column;
}

.maps-container-mobile > div {
  padding: 0 6%;

  align-self: flex-start;
  display: flex;
  flex-direction: column;
  width: 88%;
}

.maps-container-mobile img{
  width: 100%;
  height: 100vw;
  object-fit: cover;
  border-top: 2px solid #e3e3e3;
}

.maps-container-mobile p {
  font-size: 20px;
  color: #2f678c;
  font-weight: bold;
}

.maps-container-mobile span {
  margin-bottom: 3%;
}

.item-list-container-mobile {
  padding: 2% 0%;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 95%;
  border: 2px solid #e3e3e3;
  flex-direction: column;
}

.item-list-container-mobile > div{
  padding: 0% 6%;
  /*height: 100px;*/
}

.item-list-container-mobile p{
  font-size: 20px;
  color: #2f678c;
  font-weight: bold;
}

.item-container {
  align-items: center;
  align-self: center;
  justify-content: center;
}

.item-container > img {
  max-width: 200px;
  height: 200px;
  object-fit: cover;

}

.maps-container-web {
  margin-bottom: 2%;
  padding: 2% 2%;
  display: flex;
  /*justify-content: center;*/
  /*align-items: center;*/
  width: 91%;
  border: 2px solid #e3e3e3;
  flex-direction: column;
}

.maps-container-web > div {
  flex-direction: row;
}

.maps-container-web > p {
  font-size: 20px;
  color: #2f678c;
  font-weight: bold;
}

.maps-container-web img {
  max-width: 100px;
  height: 100px;
  margin-right: 10px;
  object-fit: cover;
}



@media screen and (max-width: 600px) {
  .card-container > div {
    padding: 0% 6%
  }

  .card-container > div > div > div {
    margin-top: 6%;
  }
}

